services:
  app:
    image: banana-split
    ports:
      - "8000:8000"
    depends_on:
      - database
    environment:
      - BANANASPLIT_DATABASE_URL=postgres://postgres:postgres@database/bananasplit_dev
    volumes:
      - ./config/dev.properties:/opt/banana-split/config/dev.properties
  database:
    image: "postgres:18-alpine"
    restart: always
    environment:
      - POSTGRES_DB=bananasplit_dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    command: ["postgres", "-c", "log_statement=all"]
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 1s
      retries: 6
      start_period: 60s
      timeout: 10s

volumes:
  db-data:
