@import "modern-normalize";

:root {
    --alto-barra: 11px;
}

.barras-precio {
    gap: 20px 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &>.nombre {
        &.izquierda {
            text-align: right;
        }
    }

    &>.monto {
        position: relative;

        &.izquierda {
            text-align: right;
        }

        .barra {
            position: absolute;
            height: var(--alto-barra);
            bottom: 0;

            .derecha & {
                border-radius: 0 8px 8px 0;
            }

            .izquierda & {
                border-radius: 8px 0 0 8px;
                right: 0;
            }
        }
    }
}

.arrow-container {
    height: 28px;
    width: 28px;

    svg {
        width: 100%;
    }
}

.is-size-6-5 {
    font-size: 0.85rem;
}

.eje-vertical {
    background-color: gray;
    height: calc(100% + var(--alto-barra) + 24px);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -8px);
    width: 2px;
    z-index: 1;
}

/*TODO get someone who knows css to review this*/
.toasts-container {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
}

.toast {
    max-width: 50rem;
    padding-bottom: 1rem;
    margin: auto;
}

.spin {
    animation: spinAnimation 1s linear infinite;
}

@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}