@import "modern-normalize";

:root {
    --alto-barra: 11px;
}

.barras-precio {
    gap: 20px 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    & > .nombre {
        &.izquierda {
            text-align: right;
        }
    }

    & > .monto {
        position: relative;

        &.izquierda {
            text-align: right;
        }

        .barra {
            position: absolute;
            height: var(--alto-barra);
            bottom: 0;

            .derecha & {
                border-radius: 0 8px 8px 0;
            }

            .izquierda & {
                border-radius: 8px 0 0 8px;
                right: 0;
            }
        }
    }
}

.eje-vertical {
    background-color: gray;
    height: calc(100% + var(--alto-barra) + 24px);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -8px);
    width: 2px;
    z-index: 1;
}

/*TODO get someone who knows css to review this*/
.toasts-container {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;

    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.toast {
    max-width: 50rem;
    padding-bottom: 1rem;
    margin: auto;
}

/*@media (max-width: var(--sapBreakpoint_XS_Min)) {*/
@media (min-width: 600px) {
    ui5-shellbar > ui5-button {
        opacity: 0;
        pointer-events: none;
    }
}
