@import "modern-normalize";

:root {
    --alto-barra: 11px;
}

.barras-precio {
    gap: 30px 0;
    position: relative;

    .monto {
        position: relative;
    }

    .barra {
        position: absolute;
        height: var(--alto-barra);
    }

    & > .izquierda {
        text-align: right;

        .barra {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            right: 0;
        }
    }

    & > .derecha .barra {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }
}

.arrow-container {
    height: 28px;
    width: 28px;

    svg {
        width: 100%;
    }
}

.is-size-6-5 {
    font-size: 0.85rem;
}

.eje-vertical {
    background-color: gray;
    height: calc(100% + var(--alto-barra) + 24px);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -8px);
    width: 2px;
    z-index: 1;
}

/*TODO get someone who knows css to review this*/
.toasts-container {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
}

.toast {
    max-width: 50rem;
    padding-bottom: 1rem;
    margin: auto;
}

.spin {
  animation: spinAnimation 1s linear infinite;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
