services:
  backend:
    image:
      repository: ghcr.io/ludat/banana-split
      tag: 20260228-035340@sha256:10b471162a8c2b79384f0853202e36a5c967cecc6a2a4d55e4b58a6f820f40a1
      source:
        type: lexical
        pattern: '^\d{8}-\d{6}$'
    port: 8000
    secrets:
      - config
    dependencies: [pg]
    routes:
      - host: dev.split.ludat.io

dependencies:
  pg:
    type: postgres

hooks:
  pre-deploy:
    - name: migrations
      service: backend
      command:
        - sh
        - -c
        - |
            timeout 10 banana-split migrations init
            banana-split migrations migrate ./migrations
  post-deploy:
    - name: migrations
      service: backend
      command:
        - sh
        - -c
        - |
            if ! [[ "$(timeout 10 banana-split migrations status | grep status | sed 's/^ *"status": "\(.*\)"/\1/')" = "Complete" ]]; then
              banana-split migrations complete
            fi
