helm:
  repoURL: ghcr.io/ludat/charts
  chart: herokucito-web
  targetRevision: 0.3.2
  path: 

image:
  repository: ghcr.io/ludat/banana-split
  tag: 20260106-042834

preCommand: |
  timeout 10 banana-split migrations init
  banana-split migrations migrate ./migrations

postCommand: |
  if ! [[ "$(timeout 10 banana-split migrations status | grep status | sed 's/^ *"status": "\(.*\)"/\1/')" = "Complete" ]]; then
    banana-split migrations complete
  fi

expose:
  enabled: true
  host: dev.split.ludat.io

secrets:
  - config

port: 8000

postgres:
  enabled: true
  uriEnv: BANANASPLIT_DATABASE_URL
