services:
  backend:
    image:
      repository: ghcr.io/ludat/banana-split
      tag: 20260130-232956@sha256:2238f47726d02225d26840580a427c39f51dfdd3a5c8df6d8649d7e35a8acf43
      source:
        type: lexical
        pattern: '^\d{8}-\d{6}$'
    port: 8000
    secrets:
      - config
    dependencies: [pg]
    routes:
      - host: dev.split.ludat.io

dependencies:
  pg:
    type: postgres

hooks:
  pre-deploy:
    - name: migrations
      service: backend
      command:
        - sh
        - -c
        - |
            timeout 10 banana-split migrations init
            banana-split migrations migrate ./migrations
  post-deploy:
    - name: migrations
      service: backend
      command:
        - sh
        - -c
        - |
            if ! [[ "$(timeout 10 banana-split migrations status | grep status | sed 's/^ *"status": "\(.*\)"/\1/')" = "Complete" ]]; then
              banana-split migrations complete
            fi
