helm:
  repoURL: "https://github.com/ludat/herokucito.git"
  chart: ""
  path: "charts/herokucito-web"
  targetRevision: "HEAD"

image:
  repository: ghcr.io/ludat/banana-split
  tag: "e7e711e59ff8916f6948118a5c74ebdc0752ed0b"

preCommand: |
  timeout 10 banana-split migrations init
  banana-split migrations migrate ./migrations

postCommand: |
  if ! [[ "$(timeout 10 banana-split migrations status | grep status | sed 's/^ *"status": "\(.*\)"/\1/')" = "Complete" ]]; then
    banana-split migrations complete
  fi

listen:
  enabled: true
  host: dev.split.ludat.io

secrets: []

port: 8000

postgres:
  enabled: true
  uriEnv: BANANASPLIT_DATABASE_URL
